<%- include("partials/header"); -%>

<main>
    <div class="content_box">


            <% if(locals.forums.length) { %>
                
                <% forums.forEach((forum, index) => { %>
                    <div class="forum">
                        <form action="/upvote/<%= index %>" method="post">
                            <h2><%= forum.title %></h2>
                            <p><%= forum.description %></p>
                            
                            <button name="button_upvote" class="btn btn-warning">Upvote</button>
                            <span><%= forum.upvote %></span>
                        </form>
                        
                        <form action="/downvote/<%= index %>" method="post">
                            <button name="button_downvote" class="btn btn-warning">Downvote</button>
                            <span><%= forum.downvote %></span>
                        </form>
                    </div>
                    <hr>              

                <% }) %>
                

            <% } %>

            <form action="/forum" method="get">
                <button name="button_forum" class="btn btn-success">Add forum</button>
            </form>
                        
    </div>
</main>


<%- include("partials/footer"); -%>
